
/* DashboardComponent's private CSS styles */
h3{
width: 401px;
height: 55px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-align: center;
background: #AA8D72;
color: #F6F8F9;
margin: 0 auto;
padding: 0 25px;
border-radius: 30px;
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .col-1-4 {
    width: 25%;
  }
  .module img{
    padding: 20px;
    text-align: center;
    min-width: 234px;
    min-height: 283px;
    border-radius: 2px;
  }
  
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 900px) {
    .module img{
      padding: 20px;
      border-radius: 2px;
      min-width: 534px;
    min-height: 583px;
    }
    
    .col-1-4 {
      width: 100%;
    }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module img{
     width: 100%;
      height:auto;
    }
  }